$headerH=40px


pos-a(t=none,r=none,b=none,l=none)
    position absolute
    top t
    left l
    right r
    bottom b

pos-r()
    position relative

size(w,h=w)
    width w
    height h

.hide
    display: none !important

.center 
    display: flex
    justify-content: center
    align-items: center